body {
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8CC461;
}
.container {
    padding: 20px;
}

.header {
    margin: auto;
    width: 700px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    padding: 20px;
}
.header h1{
    color: #FFFFFF;
    font-size: 2rem;
    width: 100px;
}
.scoreboard{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.score{
    border-radius: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    margin: 0 10px;
    width:80px;
    text-align: center;
}
.score h2{
    font-size: 1rem;
}
.score-value {
    font-size: 2rem;
    margin-top: 10px;
}
/* .pageend{
    color :#FFFFFF;
    border: 2px solid #FFFFFF;
    background: #D9D9D9;
    font-family: 'Roboto';
    font-size: 1rem;
    text-align: end;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
} */