/* html{
    font-size: 1rem;
} */
/* body{ */
    /*  in case of em we take fs(current) here it is 20px */
    /* font-size: 20px; */
/* } */
h1{
    /* so 20* 2 = 40px here */
    font-size: 40px; 
    /* now em becomes 40px here 40*2 =80px */
    width: 50vw;
    background-color: aqua;
    /* padding: 1em; */
}
.ipsum{
    /* 16px */
    padding: 5vh;
    margin: 16px;
    border-top-style:dotted;
    border-bottom-style: groove;
    border-left-style: solid;
    border-right-style: double;
    background-image: url('../../../images/Flipkart-Logo-700x394.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.dollar{
    border-style: solid;
    border-width: 2px;
    border-color: blueviolet;
    padding: 1rem;
    margin: 1rem;
}