.filterbtn{
    padding:10px;
    margin:10px;
    cursor: pointer;

}
.search{
    padding: 10px;
    margin: 10px;
}
.searchinput {
    padding: 12px 20px;          
    width: 300px;                
    border: 2px solid #ccc;      
    border-radius: 25px;         
    outline: none;               
    font-size: 16px;             
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;   
  }
.searchinput:focus{
    border-color: #007BFF;       
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.2); 
}
.restrocontainer{
    display: flex;
    flex-wrap: wrap;
}